.input-panel {
  overflow: hidden;
  height: 100%;
}

#consoleEditor, .ace_content {
  height: 100% !important;
}

.console-panel {
  overflow: hidden;
  height: 100%;
}

.output-panel {
  overflow: hidden;
  height: 100%;
}

.debug-console-app {
  width:100%;
  height: 100%;
  overflow:hidden;
}

.titlebar {
  width: 100%;
  height: 20px;
  background-color: #FF4081;
}

.grid-stack-item {
  overflow:hidden;
  border-radius: 0px 0px 5px 5px;
  height:100%;
}

.editor-frame {
  overflow:hidden;
  margin-left: 10px;
  margin-right:10px;
}

#root {
  border: 1px solid #eee;
  background-color: #ffb4cd;
  width: 100%;
  height:100%;
  min-height: 150px;
}

.output body { 
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
}