div#console-panel.console-panel {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: #242424;
}

.abswrap {
  position: absolute;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  left: 5;
  top: 5;
}

.editor-frame {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}