@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@444;555&display=swap");
.action-bar {
  overflow: auto;
  border-radius:10px;
}

.icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  font-size: 1.4rem;
}
.toolbar.toolbar--inline {
  display: inline-flex;
}
.toolbar.toolbar--light {
  background: white;
  color: #444;
}
.toolbar.toolbar--light .icon {
  fill: #444;
}
.toolbar.toolbar--dark {
  background: #222;
  color: #aaa;
}
.toolbar.toolbar--dark .icon {
  fill: #aaa;
}
.toolbar.toolbar--primary {
  background: #FF4081;
  color: white;
}
.toolbar.toolbar--primary .icon {
  fill: white;
}
.toolbar.toolbar--secondary {
  background: #FF4081;
  color: white;
}
.toolbar.toolbar--secondary .icon {
  fill: white;
}
.toolbar + .toolbar {
  margin-top: 1.6rem;
}

.toolbar__section:not(:fist-child),
.toolbar-item:not(:fist-child) {
  margin-left: 0.4rem;
}
.toolbar__section:not(:last-child),
.toolbar-item:not(:last-child) {
  margin-right: 0.4rem;
}

.toolbar__section {
  display: flex;
  align-items: center;
}
.toolbar__section.toolbar__section--fill {
  flex-grow: 1;
}

.toolbar-item {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  padding: 0;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
  flex-shrink: 0;
  display: flex;
  position: relative;
  min-width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: all 0.2s;
}
.toolbar-item:not(.toolbar-item--passive):active {
  left: 2px;
  top: 2px;
}
.toolbar-item:not(.toolbar-item--passive):hover, .toolbar-item:not(.toolbar-item--passive):focus {
  outline: none;
}
.toolbar-item:not(.toolbar-item--passive)::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform-origin: 50% 50%;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 1);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 2rem;
  transition: all 0.2s;
}
.toolbar--light .toolbar-item:not(.toolbar-item--passive)::before {
  background-color: #ddd;
}
.toolbar--dark .toolbar-item:not(.toolbar-item--passive)::before {
  background-color: #333;
}
.toolbar-item:not(.toolbar-item--passive):hover::before, .toolbar-item:not(.toolbar-item--passive):focus::before {
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
  opacity: 1;
}
.toolbar--light .toolbar-item:not(.toolbar-item--passive):hover .toolbar-item__icon > .icon, .toolbar--light .toolbar-item:not(.toolbar-item--passive):focus .toolbar-item__icon > .icon {
  fill: black;
}
.toolbar--dark .toolbar-item:not(.toolbar-item--passive):hover .toolbar-item__icon > .icon, .toolbar--dark .toolbar-item:not(.toolbar-item--passive):focus .toolbar-item__icon > .icon {
  fill: white;
}
.toolbar--light .toolbar-item:not(.toolbar-item--passive):hover .toolbar-item__label, .toolbar--light .toolbar-item:not(.toolbar-item--passive):focus .toolbar-item__label {
  color: black;
}
.toolbar--dark .toolbar-item:not(.toolbar-item--passive):hover .toolbar-item__label, .toolbar--dark .toolbar-item:not(.toolbar-item--passive):focus .toolbar-item__label {
  color: white;
}

.toolbar-item--active,
.toolbar-item--active:not(.toolbar-item--passive):hover,
.toolbar-item--active:not(.toolbar-item--passive):focus {
  font-weight: bold;
}
.toolbar--light .toolbar-item--active .toolbar-item__icon > .icon,
.toolbar--light .toolbar-item--active:not(.toolbar-item--passive):hover .toolbar-item__icon > .icon,
.toolbar--light .toolbar-item--active:not(.toolbar-item--passive):focus .toolbar-item__icon > .icon {
  fill: #FF4081;
}
.toolbar--dark .toolbar-item--active .toolbar-item__icon > .icon,
.toolbar--dark .toolbar-item--active:not(.toolbar-item--passive):hover .toolbar-item__icon > .icon,
.toolbar--dark .toolbar-item--active:not(.toolbar-item--passive):focus .toolbar-item__icon > .icon {
  fill: #FF4081;
}
.toolbar--primary .toolbar-item--active .toolbar-item__icon > .icon,
.toolbar--primary .toolbar-item--active:not(.toolbar-item--passive):hover .toolbar-item__icon > .icon,
.toolbar--primary .toolbar-item--active:not(.toolbar-item--passive):focus .toolbar-item__icon > .icon {
  fill: #FF4081;
}
.toolbar--light .toolbar-item--active .toolbar-item__label,
.toolbar--light .toolbar-item--active:not(.toolbar-item--passive):hover .toolbar-item__label,
.toolbar--light .toolbar-item--active:not(.toolbar-item--passive):focus .toolbar-item__label {
  color: #FF4081;
}
.toolbar--dark .toolbar-item--active .toolbar-item__label,
.toolbar--dark .toolbar-item--active:not(.toolbar-item--passive):hover .toolbar-item__label,
.toolbar--dark .toolbar-item--active:not(.toolbar-item--passive):focus .toolbar-item__label {
  color: #FF4081;
}
.toolbar--primary .toolbar-item--active .toolbar-item__label,
.toolbar--primary .toolbar-item--active:not(.toolbar-item--passive):hover .toolbar-item__label,
.toolbar--primary .toolbar-item--active:not(.toolbar-item--passive):focus .toolbar-item__label {
  color: #FF4081;
}

.toolbar-item__icon {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
}
.toolbar-item__icon > .icon {
  transition: all 0.2s;
}

.toolbar-item__label {
  margin-left: calc((4rem - 24px) / 2);
  margin-right: calc((4rem - 24px) / 2);
  white-space: nowrap;
  z-index: 1;
}
.toolbar-item__icon + .toolbar-item__label {
  margin-left: -0.5rem;
}

.toolbar--light .toolbar-item--passive {
  color: #888;
}
.toolbar--dark .toolbar-item--passive {
  color: #888;
}
.toolbar--primary .toolbar-item--passive {
  color: rgba(255, 255, 255, 0.75);
}
.toolbar--secondary .toolbar-item--passive {
  color: rgba(255, 255, 255, 0.75);
}

.toolbar-separator {
  width: 1px;
  height: calc((24px + 4rem) / 2);
}
.toolbar-separator:not(:last-child) {
  margin-right: 0.4rem;
}
.toolbar--light .toolbar-separator {
  background-color: #ccc;
}
.toolbar--dark .toolbar-separator {
  background-color: #444;
}
.toolbar--primary .toolbar-separator {
  background-color: rgba(255, 255, 255, 0.5);
}
.toolbar--secondary .toolbar-separator {
  background-color: rgba(255, 255, 255, 0.5);
}

.toolbar-spacer {
  width: 0.8rem;
  height: 4rem;
}

.toolbar-item__metas {
  line-height: 1;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.1rem 0.2rem;
  min-width: 1.4rem;
  border-radius: 4px;
  color: white;
  background-color: #FF4081;
  position: absolute;
  transform: translate3d(9px, -9px, 0);
  top: calc((4rem - 24px) / 2);
  right: calc((4rem - 24px) / 2);
}
.toolbar-item__metas.toolbar-item__metas--small {
  font-size: 1rem;
}
.toolbar--secondary .toolbar-item__metas {
  background-color: #FF4081;
}

/*form*/
.toolbar-item__form {
  margin-bottom: 0;
  height: 100%;
  display: flex;
}

.toolbar-item--search-form-input-text {
  background: rgba(255, 255, 255, 0.125);
  border-radius: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-right: 4.4rem;
}
.toolbar-item--search-form-input-text:hover, .toolbar-item--search-form-input-text:focus {
  background-color: white;
}

.toolbar-item--search-form-submit-button {
  margin-left: -4.4rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
  color: white;
}

p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  padding: 0;
  text-align: left;
}

h2 {
  font-size: 2.4rem;
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1.6rem;
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
}

svg {
  display: inline-block;
}

.icon {
  fill: white;
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90vw;
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

.svg-sprite-hidden {
  display: none;
}