.button { 
  all:unset;
  border: 0;
} 

.grabbing {cursor: move;}

.title-text {
  color: #ffb4cd;
  margin-left: 10px;
  font-weight: bold;
}

.hidden {
  display: none
}

button {
  color: #ffb4cd;
}

button:focus {
  outline: 0;
  color: hsl(339, 100%, 94%);
}


.titlebar {
  width: 100%;
  height: 30px;
  background-color: #FF4081;
  padding: 4px;
  padding-left: 6px;
  border-radius: 8px 8px 0px 0px;
}