.p-CommandPalette {
  background: #F5F5F5;
}

.p-CommandPalette-wrapper {
  background: white;
  border: 1px solid #E0E0E0;
}

.p-CommandPalette-header {
  color: #757575;
  background: #E1E1E1;
}
.p-CommandPalette-header > mark {
  background-color: transparent;
}

.p-CommandPalette-item {
  color: #757575;
}

.p-CommandPalette-emptyMessage {
  color: #757575;
}

.p-CommandPalette-item.p-mod-disabled {
  color: rgba(0, 0, 0, 0.25);
}

.p-CommandPalette-item.p-mod-active {
  background: #7FDBFF;
}

.p-CommandPalette-item:hover:not(.p-mod-active):not(.p-mod-disabled) {
  background: #E5E5E5;
}

.p-CommandPalette-itemLabel > mark {
  background-color: transparent;
}

.p-CommandPalette-item.p-mod-disabled mark {
  color: rgba(0, 0, 0, 0.4);
}

.p-CommandPalette-itemCaption {
  color: #9E9E9E;
}

.p-DataGrid {
  border: 1px solid #A0A0A0;
}

.p-DataGrid-scrollCorner {
  background-color: #F0F0F0;
}

.p-DataGrid-scrollCorner::after {
  background-color: #A0A0A0;
}

.p-DockPanel-overlay {
  background: rgba(255, 255, 255, 0.6);
  border: 1px dashed black;
}


.p-Menu {
  padding: 3px 0px;
  background: white;
  color: rgba(0, 0, 0, 0.87);
  border: 1px solid #C0C0C0;
  font: 12px Helvetica, Arial, sans-serif;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
}

.p-Menu-item.p-mod-active {
  background: #E5E5E5;
}

.p-Menu-item.p-mod-disabled {
  color: rgba(0, 0, 0, 0.25);
}

.p-Menu-itemIcon {
  width: 21px;
  padding: 4px 2px;
}

.p-Menu-itemLabel {
  padding: 4px 35px 4px 2px;
}

.p-Menu-itemMnemonic {
  text-decoration: underline;
}

.p-Menu-itemShortcut {
  padding: 4px 0px;
}

.p-Menu-itemSubmenuIcon {
  width: 16px;
  padding: 4px 0px;
}

.p-Menu-item[data-type='separator'] > div {
  padding: 0;
  height: 9px;
}

.p-Menu-item[data-type='separator'] > div::after {
  top: 4px;
  border-top: 1px solid #DDDDDD;
}


.p-MenuBar {
  padding-left: 5px;
  background: #FAFAFA;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid #DDDDDD;
  font: 13px Helvetica, Arial, sans-serif;
}

.p-MenuBar-item.p-mod-active {
  background: #E5E5E5;
}

.p-MenuBar.p-mod-active .p-MenuBar-item.p-mod-active {
  z-index: 10001;
  background: white;
  border-left: 1px solid #C0C0C0;
  border-right: 1px solid #C0C0C0;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}


.p-ScrollBar[data-orientation='horizontal'] {
  border-top: 1px solid #A0A0A0;
}

.p-ScrollBar[data-orientation='vertical'] {
  border-left: 1px solid #A0A0A0;
}

.p-ScrollBar-button {
  background-color: #F0F0F0;
}

.p-ScrollBar-button:hover {
  background-color: #DADADA;
}

.p-ScrollBar-button.p-mod-active {
  background-color: #CDCDCD;
}

.p-ScrollBar-track {
  background: #F0F0F0;
}

.p-ScrollBar-thumb {
  background: #CDCDCD;
}

.p-ScrollBar-thumb:hover {
  background: #BABABA;
}

.p-ScrollBar-thumb.p-mod-active {
  background: #A0A0A0;
}


.p-ScrollBar[data-orientation='horizontal'] .p-ScrollBar-thumb {
  border-left: 1px solid #A0A0A0;
  border-right: 1px solid #A0A0A0;
}

.p-ScrollBar[data-orientation='vertical'] .p-ScrollBar-thumb {
  border-top: 1px solid #A0A0A0;
  border-bottom: 1px solid #A0A0A0;
}

.p-TabBar-content {
  border-bottom: 1px solid #C0C0C0;
}

.p-TabBar-tab {
  background: #E5E5E5;
  border: 1px solid #C0C0C0;
}

.p-TabBar-tab.p-mod-current {
  background: white;
}

.p-TabBar-tab:hover:not(.p-mod-current) {
  background: #F0F0F0;
}

.p-TabBar-tab.p-mod-drag-image {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
